.add-recipe-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  inset: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-recipe-modal .add-recipe-modal-main {
  background-color: white;
  margin: 0;
  max-width: 24rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.add-recipe-modal .add-recipe-modal-main .add-recipe-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-recipe-modal .add-recipe-modal-main .add-recipe-modal-header h2 {
  margin: 0;
}

.add-recipe-modal .add-recipe-modal-main .add-recipe-modal-header .fa-xmark {
  cursor: pointer;
}

.add-recipe-modal .add-recipe-modal-main form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 10px 0;
}

.add-recipe-modal .add-recipe-modal-main form input,
.add-recipe-modal .add-recipe-modal-main form textarea {
  padding: 10px;
  width: 94%;
}

form label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

form button {
  width: 100%;
}
